nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #efefef;
      z-index: 1000;
      display: flex;
      justify-content: center; /* Center links horizontally */
    }
    nav a {
      color: black;
      text-align: center;
      padding: 28px 32px;
      text-decoration: none;
      font-size: 17px;
      display: inline-block;
    }
    nav a:hover {
      background-color: #555;
      color: white;
    }
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url('https://github.com/wiseman-mabusela/learners-license/blob/master/images/Untitled%20design.png?raw=true');
    margin: 0%;
    margin-top: 0%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }