nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #efefef;
      z-index: 1000;
      display: flex;
      justify-content: center; /* Center links horizontally */
    }
    nav a {
      color: black;
      text-align: center;
      padding: 28px 32px;
      text-decoration: none;
      font-size: 17px;
      display: inline-block;
    }
    nav a:hover {
      background-color: #555;
      color: white;
    }
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background-image: url('https://github.com/wiseman-mabusela/learners-license/blob/master/images/background-home.jpg?raw=true');
      background-image: url('https://images.pexels.com/photos/4349746/pexels-photo-4349746.jpeg?cs=srgb&dl=pexels-ketut-subiyanto-4349746.jpg&fm=jpg&_gl=1*o3roo6*_ga*MTk0OTcyNzIxNi4xNjY1MTk0Nzk0*_ga_8JE65Q40S6*MTY2NjU2NDM4NC42LjEuMTY2NjU2NDY4NS4wLjAuMA..');
    text-align: center;
    margin: 0%;
    margin-top: 0%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    }